* {
  box-sizing: border-box;
}

main {
  border: 1px solid orange;
  width: 80rem;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
}

h1 {
  font-size: 6rem;
}

.game_container {
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_container>div {
  font-size: 2.5rem;
}

.game_container>section {
  border: 1px solid red;
  width: 45.5rem;
  height: 45.5rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 2em;
}

.game_container>section>div {
  border: 1px solid blue;
  width: 15rem;
  height: 15rem;
}

button {
  font-size: 2.5rem;
  padding: .25em 1em;
}